# ---> C++
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build folders
.vscode
build
x64
CMakeCache.txt
CMakeFiles/
.cmake/

# Config file
/config.json
/.env
/.env.docker

# Model generator file
/model.json

# Docker file
/docker/resources

# Testing folder
/Testing

# Logs that produced by unit test
/logs

# Clangd Folder
.cache

.codegpt

# Large dependency files (exclude from git)
OpenDDS-3.29.1.zip
cmake-3.31.3-linux-x86_64.tar.gz